{% extends 'core/base.html' %}

{% block title %}Adicionar Item de Vacina{% endblock %}

{% block content %}
<h2>Adicionar Item de Vacina</h2>

<form method="POST">
    {% csrf_token %}
    <label for="vaccine">Vacina:</label>
    <input type="text" id="vaccine" name="vaccine" required />

    <label for="batch">Lote:</label>
    <input type="text" id="batch" name="batch" />

    <label for="expiry_date">Data de Validade:</label>
    <input type="date" id="expiry_date" name="expiry_date" />

    <button type="submit">Salvar</button>
</form>
{% endblock %}